<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fa-solid fa-utensils"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex gap-5">
                <!-- 로그인 상태일 때만 로그아웃 링크를 표시 -->
                <li>
                    <!-- Open the modal using ID.showModal() method -->
                    <button class="btn" onclick="my_modal_5.showModal()">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                    <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
                        <div class="modal-box">
                            <form action="/store/search">
                                <input type="text" name="name" class="input input-bordered">
                                <input type="submit" class="btn" value="검색">
                            </form>
                            <div class="modal-action">
                                <form method="dialog">
                                    <!-- if there is a button in form, it will close the modal -->
                                    <button class="btn">Close</button>
                                </form>
                            </div>
                        </div>
                    </dialog>
                </li>
                <li >
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
                </li>
                <li>
                    <a class="nav-link"  th:href="@{/user/signup}">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/store/create}">가게등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}">프로필</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
