<!DOCTYPE html>

<html lang="ko" layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">

    <form th:action="@{/user/signup}" th:object="${userForm}" method="post" >
        <input type="text" name="loginId" class="input" th:field="*{loginId}"placeholder="아이디">
        <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></p>
        <input type="password" name="password"  class="input"th:field="*{password}" placeholder="비밀번호">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
        <input type="text" name="email" class="input" th:field="*{email}" placeholder="이메일">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        <input type="submit" value="회원가입" class="btn">
    </form>



</div>
</html>